# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# node_modules directory
**/node_modules/*

# Frontend dist directory
**/frontend/dist/*

# Frontend .env file
**/frontend/.env

# Backend bin, obj and build (custom folder)
**/backend/**/bin/*
**/backend/**/obj/*
**/backend/**/build/*

# JetBrains artifacts
**/.idea/*

# GitHub build artifacts
**/infrastructure/artifacts/*