# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# node_modules directory
**/node_modules/*

# Frontend dist directory
**/frontend/dist/*

# Backend bin & obj
**/backend/**/bin/*
**/backend/**/obj/*

# JetBrains artifacts
**/.idea/*